* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  width: 100%;
}

.home img {
  opacity: .5;
  width: 450px;
}

.home .profession h2, .home .profession h3 {
  color: #079992;
}

.home .profession h2 {
  font-size: 5rem;
}

@media (max-width: 850px) {
  .home .profession h2 {
    font-size: 4rem;
  }
}

@media (max-width: 600px) {
  .home .profession h2 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .home .profession h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 375px) {
  .home .profession h2 {
    font-size: 2.2rem;
  }
}

.home .profession h3 {
  font-size: 2.5rem;
}

@media (max-width: 700px) {
  .home .profession h3 {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .home .profession h3 {
    font-size: 1.5rem;
  }
}

.home .profession {
  width: 100%;
  padding: 20px;
  text-shadow: 1px 1px 20px #73652d;
  text-align: center;
}

.resume h1, .resume h2, .resume h3 {
  text-transform: uppercase;
}

.contact-page .contact__form form {
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  background-color: #fff;
  border: 5px solid #079992;
  border-radius: 5px;
  font-size: 1.3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #4d4d4d;
  -webkit-box-shadow: 0px 5px 10px #fff, 0px -5px 10px #fff;
          box-shadow: 0px 5px 10px #fff, 0px -5px 10px #fff;
}

@media (max-width: 550px) {
  .contact-page .contact__form form {
    width: auto;
    padding: 5%;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.contact-page input {
  border-radius: 25px;
  height: 40px;
  background: #e6e6e6;
  color: #372f2f;
  font-size: 1.2rem;
  padding-left: 20px;
}

@media (max-width: 550px) {
  .contact-page input {
    font-size: 1rem;
    height: 35px;
  }
}

.resume .about-me {
  margin-top: 25px;
  padding-left: 30px;
}

.resume .ref1 h3, .resume .ref1 p, .resume .ref2 h3, .resume .ref2 p {
  font-weight: normal;
  margin: 10px 0;
}

nav a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  margin-right: 25px;
  color: white;
}

nav a.active--page {
  padding: 13px;
  color: #a1a1a1;
}

@media (max-width: 600px) {
  nav a.active--page {
    padding: 2px;
    border: none;
  }
}

header h1 {
  float: left;
  margin-left: 10%;
  font-size: 4rem;
  margin-top: .5%;
  margin-bottom: 0;
  color: white;
  text-shadow: 4px 4px #555;
}

@media (max-width: 990px) {
  header h1 {
    width: 100%;
    text-align: center;
    margin-left: 0;
    font-size: 3rem;
  }
}

.contact-page input[type="submit"], .contact-page input[type="text"], .contact-page input[type="email"], .contact-page input[type="tel"] {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

header {
  background-color: #079992;
  overflow: auto;
  min-height: 100px;
}

@media (max-width: 1150px) {
  header h1 {
    float: none;
    text-align: center;
    margin-left: 0;
  }
}

nav {
  float: right;
  margin: 25px 50px auto 0;
  text-transform: uppercase;
}

@media (max-width: 1150px) {
  nav {
    margin: 0;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 750px) {
  nav a {
    margin: 0 5px;
    font-size: 1.2rem;
  }
}

@media (max-width: 450px) {
  nav a {
    font-size: 12px;
  }
}

nav a:hover {
  border-bottom: 2px solid #000;
  cursor: pointer;
}

nav a:active {
  color: #079992;
}

nav a.active--page {
  color: #000;
}

footer {
  font-size: .75rem;
  font-style: normal;
  padding: 30px;
  background-color: #079992;
  clear: both;
}

.author {
  text-align: center;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #040303;
  /*&--bg {
        @extend %main--bg;
    }*/
}

.home img {
  -webkit-animation: image 2s ease-in;
          animation: image 2s ease-in;
}

@-webkit-keyframes image {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .1;
  }
  50% {
    opacity: .2;
  }
  75% {
    opacity: .3;
  }
  100% {
    opacity: .4;
  }
}

@keyframes image {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .1;
  }
  50% {
    opacity: .2;
  }
  75% {
    opacity: .3;
  }
  100% {
    opacity: .4;
  }
}

.home .profession {
  -webkit-animation: profession 2s cubic-bezier(0.71, -0.13, 0.24, 1.21);
          animation: profession 2s cubic-bezier(0.71, -0.13, 0.24, 1.21);
}

.home .profession h3 {
  margin-left: 3%;
}

@-webkit-keyframes profession {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes profession {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.about-bg {
  background: #000;
}

.about {
  /*background-color: #2a2a2a;*/
  background: url("/img/laptop-computer-on-white-table-3773405.jpg") no-repeat;
  background-size: cover;
  height: 575px;
  padding: 25px 0 30px 0;
}

@media (max-width: 950px) {
  .about {
    background: #d6d6d6;
  }
}

.about .card {
  width: 40%;
  height: 550px;
  float: left;
  max-width: 485px;
  margin-left: 5%;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0px 15px 100px #fbf5f5, 0px 5px 10px #000;
          box-shadow: 0px 15px 100px #fbf5f5, 0px 5px 10px #000;
  overflow: hidden;
}

@media (max-width: 950px) {
  .about .card {
    float: none;
    margin: 0 auto;
    width: 70%;
    max-width: 675px;
  }
}

@media (max-width: 750px) {
  .about .card {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 85%;
  }
}

.about .card h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #379d97;
  border-bottom: 2px double #6d7372;
  padding: 5px;
  text-align: center;
}

.about .card h3 {
  font-size: 1.8rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#4ac1b0), to(#025b53));
  background-image: linear-gradient(to right, #4ac1b0, #025b53);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about .socialNetwork {
  margin-top: 65px;
  margin-bottom: 15px;
  text-align: center;
}

.about img.icons {
  width: 30px;
  display: inline-block;
}

.about .description {
  margin: 15px;
  text-align: justify;
  font-size: 17px;
  max-width: 450px;
}

@media (max-width: 950px) {
  .about .description {
    margin: 30px auto;
    max-width: none;
  }
}

@media (max-width: 450px) {
  .about .description {
    font-size: 16px;
  }
}

.about .more-info {
  margin: 15px;
  text-align: justify;
  clear: both;
  text-align: center;
}

.about .more-info a {
  text-decoration: none;
  font-weight: bold;
  color: #079992;
  text-transform: uppercase;
}

.resume {
  margin: 20px auto;
  padding: 0;
  max-width: 1100px;
  font-family: sans-serif;
  border: 2px solid #079992;
  -webkit-box-shadow: 0px 2px 5px #079992, 0px -2px 5px #079992;
          box-shadow: 0px 2px 5px #079992, 0px -2px 5px #079992;
  overflow: auto;
  padding: 5px;
}

@media (max-width: 1065px) {
  .resume {
    max-width: 900px;
  }
}

@media (max-width: 850px) {
  .resume {
    padding: 0;
  }
}

.resume .left {
  background-color: #079992;
  float: left;
  width: 25%;
  min-width: 250px;
  margin-bottom: 5px;
}

@media (max-width: 850px) {
  .resume .left {
    width: 100%;
    min-width: 300px;
    margin-bottom: 50px;
  }
}

.resume .left h2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#4ac1b0), to(#025b53));
  background-image: linear-gradient(to right, #4ac1b0, #025b53);
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 1.4em;
  padding: 7px 0;
}

.resume img {
  display: block;
  width: 60%;
  border-radius: 50%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  -webkit-animation: img 750ms ease;
          animation: img 750ms ease;
}

@media (max-width: 850px) {
  .resume img {
    width: 50%;
  }
}

@-webkit-keyframes img {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  75% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes img {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  75% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.resume .hidden_name {
  text-align: center;
  display: none;
}

@media (max-width: 850px) {
  .resume .hidden_name {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.resume .hidden_name .fName {
  color: #fff;
}

.resume h2.hidden_name {
  font-weight: normal;
  font-size: 1.5em;
  background-color: transparent;
  color: #000;
}

.resume h2.hidden_name {
  text-transform: none;
}

.resume h2.hidden-name span {
  border-bottom: 1px solid #fff;
}

.resume h2.contact, .resume h2.hobbies {
  font-weight: 500;
}

.resume .contact-info {
  margin-top: 25px;
  margin-bottom: 40px;
  padding-left: 30px;
}

.resume .contact-info p {
  font-size: 14px;
  color: #434343;
  margin: 14px 0;
}

@media (max-width: 850px) {
  .resume .contact-info p {
    font-size: 22px;
    text-align: center;
    padding-left: 0;
  }
}

@media (max-width: 450px) {
  .resume .contact-info p {
    padding-left: 0;
  }
}

.resume .about-me {
  font-size: 14px;
  color: #434343;
  text-align: justify;
  width: 75%;
  margin-bottom: 375px;
}

@media (max-width: 850px) {
  .resume .about-me {
    width: 77%;
    text-align: justify;
    font-size: 22px;
    margin-left: 8%;
    margin-bottom: 175px;
  }
}

@media (max-width: 450px) {
  .resume .about-me {
    padding-left: 0;
  }
}

.resume .icons {
  text-align: center;
  margin: 10px 0 20px 0;
}

.resume .icons span {
  border: 1px solid #434343;
  border-radius: 50%;
  padding: 9px 8px;
  margin: 0 3%;
  color: #434343;
}

.resume .right {
  float: right;
  width: 70%;
  max-width: 900px;
}

@media (max-width: 850px) {
  .resume .right {
    float: none;
    width: 100%;
    min-width: 300px;
    margin-left: 2%;
  }
}

.resume .resume-title {
  margin: 6rem 0;
}

@media (max-width: 850px) {
  .resume .resume-title {
    display: none;
  }
}

.resume .resume-title h1 {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 3rem;
}

.resume .resume-title h2 {
  font-weight: 400;
  margin-top: 0;
  text-transform: none;
  font-size: 1.4em;
}

@media (max-width: 850px) {
  .resume .resume-title h2 {
    margin-left: 2%;
  }
}

.resume .resume-title .first-name {
  color: #079992;
}

.resume .resume-title .last-name {
  font-weight: lighter;
  letter-spacing: -2px;
}

.resume .low-border-h2 {
  border-bottom: 1.5px solid #079992;
  padding-bottom: 2px;
}

.resume .reference, .resume .experience, .resume .education {
  font-size: 14px;
}

@media (max-width: 850px) {
  .resume .reference, .resume .experience, .resume .education {
    width: 95%;
  }
}

.resume .reference h2, .resume .experience h2, .resume .education h2 {
  border-bottom: 2px solid #079992;
  padding-bottom: 13px;
  font-weight: 600;
  margin-bottom: 30px;
}

@media (max-width: 850px) {
  .resume .reference h2, .resume .experience h2, .resume .education h2 {
    text-align: center;
    font-size: 1.7rem;
  }
}

.resume .reference h2 span, .resume .experience h2 span, .resume .education h2 span {
  margin-right: 27px;
  color: #079992;
}

.resume .row {
  width: 100%;
  overflow: hidden;
  clear: both;
}

.resume .bullet1 {
  display: block;
  width: .53rem;
  height: .53rem;
  border-radius: 50%;
  background-color: #079992;
  margin: 2px;
}

.resume .bullet {
  float: left;
  width: .53rem;
  height: .53rem;
  border-radius: 50%;
  background-color: #079992;
  margin-top: 3px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.resume .bullet--border {
  float: left;
  border: 1.5px solid #079992;
  border-radius: 50%;
  margin-right: 13px;
  margin-bottom: 20px;
}

.resume .date {
  width: 22.5%;
  float: left;
  margin-right: 4%;
  min-width: 175px;
}

@media (max-width: 850px) {
  .resume .date {
    margin: 1% auto 10px auto;
    border: 1px solid #079992;
    padding: 7px;
    background-color: #9c9c9c;
  }
}

@media (max-width: 650px) {
  .resume .date {
    width: 100%;
    padding-left: 35%;
  }
}

.resume .date p {
  margin: 0;
  padding: 0;
  display: inline;
}

.resume .detail {
  width: 65%;
  float: right;
  margin-bottom: 25px;
}

@media (max-width: 850px) {
  .resume .detail {
    width: 60%;
    padding: 20px;
  }
}

@media (max-width: 650px) {
  .resume .detail {
    width: 90%;
  }
}

.resume .detail h3 {
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 7px;
}

@media (max-width: 850px) {
  .resume .detail h3 {
    font-weight: 700;
  }
}

@media (max-width: 850px) {
  .resume .detail h3 {
    font-size: 1.2rem;
  }
}

.resume .detail h4 {
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 7px;
}

@media (max-width: 850px) {
  .resume .detail h4 {
    font-weight: 700;
  }
}

@media (max-width: 850px) {
  .resume .detail h4 {
    font-size: 1rem;
  }
}

.resume .detail p {
  text-align: justify;
}

@media (max-width: 850px) {
  .resume .detail p {
    width: 100%;
    margin: 0 auto;
  }
}

.resume .ref1 {
  float: left;
  width: 50%;
}

@media (max-width: 850px) {
  .resume .ref1 {
    float: none;
    padding: 10px;
    margin: 0 auto 15px auto;
    width: 90%;
    border: 1px solid black;
    -webkit-box-shadow: 2px 2px 2px grey, -2px -2px 2px grey;
            box-shadow: 2px 2px 2px grey, -2px -2px 2px grey;
  }
}

.resume .ref2 {
  float: right;
  width: 50%;
}

@media (max-width: 850px) {
  .resume .ref2 {
    float: none;
    padding: 10px;
    margin: 0 auto 15px auto;
    width: 90%;
    border: 1px solid black;
    -webkit-box-shadow: 2px 2px 2px grey, -2px -2px 2px grey;
            box-shadow: 2px 2px 2px grey, -2px -2px 2px grey;
  }
}

.projects {
  background: #0c3131;
}

.projects .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .project {
  background: #079992;
  border: 3px solid #079992;
  width: 25%;
  min-width: 275px;
  height: 300px;
  margin: 25px;
  -webkit-box-shadow: 0px 2px 10px #079992;
          box-shadow: 0px 2px 10px #079992;
}

@media (max-width: 994px) {
  .projects .project {
    min-width: 350px;
  }
}

@media (max-width: 812px) {
  .projects .project {
    height: 400px;
    min-width: 500px;
    margin-bottom: 60px;
  }
}

@media (max-width: 550px) {
  .projects .project {
    min-width: 375px;
    height: 388px;
    margin-bottom: 25px;
  }
}

@media (max-width: 400px) {
  .projects .project {
    min-width: 300px;
    height: 340px;
    margin-bottom: 25px;
  }
}

.projects .project__image {
  width: 100%;
  height: 210px;
}

@media (max-width: 812px) {
  .projects .project__image {
    height: 300px;
  }
}

@media (max-width: 550px) {
  .projects .project__image {
    min-width: 288px;
  }
}

@media (max-width: 400px) {
  .projects .project__image {
    height: 240px;
  }
}

.projects .project__title {
  text-align: center;
  padding: 10px;
  font-size: 1.8rem;
}

.projects .project__title a {
  text-decoration: none;
  color: #000;
}

.projects .project__title a:hover {
  text-shadow: 2px 2px 5px #161203;
  color: #d6d6d6;
}

.projects .project__description {
  text-align: center;
  font-size: 1.2rem;
  padding: 5px;
}

.contact-page {
  background-image: -webkit-gradient(linear, left top, right top, from(#4ac1b0), to(#025b53));
  background-image: linear-gradient(to right, #4ac1b0, #025b53);
}

.contact-page .contact__form {
  width: 85%;
  margin: 0 auto;
  padding: 25px;
}

@media (max-width: 550px) {
  .contact-page .contact__form {
    width: 100%;
    min-width: 310px;
    padding: 0;
    margin: 0;
  }
}

.contact-page .contact__form .icons {
  text-align: center;
  width: 85%;
  padding: 10px 10px 10px 13%;
}

.contact-page .contact__form i {
  color: #079992;
  margin-right: 10%;
  margin-bottom: 20px;
}

@media (max-width: 450px) {
  .contact-page .contact__form i {
    font-size: 3.5rem;
  }
}

.contact-page .contact__form form h3 {
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 425px) {
  .contact-page .contact__form form h3 {
    color: #000;
  }
}

.contact-page .contact__form form p {
  text-align: center;
  font-weight: bold;
}

@media (max-width: 425px) {
  .contact-page .contact__form form p {
    color: #000;
  }
}

.contact-page input:focus {
  border: 3px solid #079992;
  background-color: #d6d6d6;
}

.contact-page input[type="submit"] {
  width: 50%;
  background-color: #3fd9d1;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 425px) {
  .contact-page input[type="submit"] {
    padding: 0;
  }
}

.contact-page textarea {
  width: 90%;
  height: 175px;
  display: block;
  margin: 10px auto 20px auto;
}
/*# sourceMappingURL=main.css.map */