
header {
    background-color: $main-color;
    overflow: auto;
    min-height: 100px;
    h1 {
        @extend %page__title;
        @media (max-width: 1150px) {
            float: none;
            text-align: center;
            margin-left: 0;
        }
    }
}
