
header {
    background-color: $main-color;
    min-height: 100px;

    .nav-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        min-height: 100px;
    }

    h1 {
        @extend %page__title;
    }

    h1, nav {
        width: 100%;
    }

    @media (min-width: 768px) {
        h1, nav {
            width: auto;
        }
    }
}
