nav {
    text-transform: capitalize;

    @media (max-width: 1150px) {
        margin: 0;
        
        text-align: center;
    }
    
    a {
        @extend %link;
        transition: all 300ms ease;

        @media (max-width: 750px) {
            margin: 0 5px;
            font-size: 1.2rem;
        }
        @media (max-width: 450px) {
            font-size: 12px;
        }
        &:hover {
          color: #000;
        }
        &:active {
            color: $main-color;
        }
        &.active {
            @extend %active-page;
            color: $black;
        }
    }
}