nav {
    float: right;
    margin: 25px 50px auto 0;
    text-transform: uppercase;
    @media (max-width: 1150px) {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    
    a {
        @extend %link;
        @media (max-width: 750px) {
            margin: 0 5px;
            font-size: 1.2rem;
        }
        @media (max-width: 450px) {
            font-size: 12px;
        }
        &:hover {
            border-bottom: 2px solid #000;
            cursor: pointer;
        }
        &:active {
            color: $main-color;
        }
        &.active--page {
            @extend %active-page;
            color: $black;
        }
    }
}