.contact-page {
    background-image: linear-gradient(to right, #4ac1b0, #025b53);
    .contact__form {
        width: 85%;
        margin: 0 auto;
        padding: 25px;
        @media (max-width: 550px) {
            width: 100%;
            min-width: 310px;
            padding: 0;
            margin: 0;
        }
        .icons {
            text-align: center;
            width: 85%;
            padding: 10px 10px 10px 13%;
        }
        i {
            color: $main-color;
            margin-right: 10%;
            margin-bottom: 20px;
            @media (max-width: 450px) {
                font-size: 3.5rem;
            }
        }
        form {
            @extend %form;
            h3 {
                text-align: center;
                margin-bottom: 10px;
                @media (max-width: 425px) {
                    color: $black;
                }
            }
            p {
               text-align: center;
               font-weight: bold;
               @media (max-width: 425px) {
                color: $black;
            }
            }
        }
    }
    input {
        @extend %textInput;
        &:focus {
            border: 3px solid $main-color;
            background-color: #d6d6d6;
        }
        &[type="submit"] {
            @extend %input-styles;
            width: 50%;
            background-color: #3fd9d1;
            font-weight: bold;
            cursor: pointer;
            @media (max-width: 425px) {
                padding: 0;
            }
        }
        &[type="text"] {
            @extend %input-styles;
        }
        &[type="email"] {
            @extend %input-styles;
        }
        &[type="tel"] {
            @extend %input-styles;
        }
    }
    
    textarea {
        width: $input-width;
        height: 175px;
        display: block;
        margin: 10px auto 20px auto;
    }
}

