.resume {
    margin: 20px auto;
    padding: 0;
    max-width: 1100px;
    font-family: sans-serif;
    border: 2px solid $main-color;
    box-shadow: 0px 2px 5px $main-color, 0px -2px 5px $main-color;
    overflow: auto;
    padding: 5px;
    @media (max-width: 1065px) {
        max-width: 900px;
    }
    @media (max-width: 850px) {
        padding: 0;
    }
    h1 {
        @extend %headingBase;
    }
    h2 {
        @extend %headingBase;
    }
    h3 {
        @extend %headingBase;
    }
    .left {
        background-color: $main-color;
        float: left;
        width: 25%;
        min-width: 250px;
        margin-bottom: 5px;
        @media (max-width: 850px) {
            width: 100%;
            min-width: 300px;
            margin-bottom: 50px;
        }
        h2 {
            background-image: linear-gradient(to right, #4ac1b0, #025b53);
            color: $black;
            text-align: center;
            font-weight: 700;
            font-size: 1.4em;
            padding: 7px 0;
        }
    }
    
    img {
        display: block;
        width: 75%;
        border-radius: 50%;
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        border: 3px solid rgba(0,0,0,.1);
        animation: img 750ms ease ;
        @media (max-width: 850px) {
            width: 50%;
        }
        @keyframes img {
        0% {transform: scale(.1);}
        25% {transform: scale(1.3);}
        50% {transform: scale(.75);}
        75% {transform: scale(1.1);}
        100% {transform: scale(1);}
        }
    }
    .hidden_name {
        text-align: center;
        display: none;
        @media (max-width: 850px) {
            display: block;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    
    .hidden_name .fName {
        color: $white;
    }
    
    h2.hidden_name {
        font-weight: normal;
        font-size: 1.5em;
        background-color: transparent;
        color: $black;
    }

    h2.hidden_name {
        text-transform: none;
    }
    
    h2.hidden-name span {
        border-bottom: 1px solid $white;
    }
    
    h2.contact, h2.hobbies {
        font-weight: 500;
    }
    
    .contact-info {
        margin-top: 25px;
        margin-bottom: 40px;
        padding-left: 30px;
        p {
            font-size: 14px;
            color: #434343;
            margin: 14px 0;
            @media (max-width:850px) {
                font-size: 22px;
                text-align: center;
                padding-left: 0;
            }
            @media (max-width: 450px) {
                padding-left: 0;
            }
        }
    }
    
    .about-me {
        @extend %about-contactInfo;
        font-size: 14px;
        color: #434343;
        text-align: justify;
        width: 75%;
        margin-bottom: 375px;
        @media (max-width: 850px) {
            width: 77%;
            text-align: justify;
            font-size: 22px;
            margin-left: 8%;
            margin-bottom: 175px;
        }
        @media (max-width: 450px) {
            padding-left: 0;
        }
    }

    .icons {
        text-align: center;
        margin: 10px 0 20px 0;
    }
    
    .icons span {
        border: 1px solid #434343;
        border-radius: 50%;
        padding: 9px 8px;
        margin: 0 3%;
        color: #434343;
        transform: rotate(0deg);
        transition: all 400ms cubic-bezier(.32,0,.07,1);
        &:hover {
            transform: rotate(5turn);
        }
    }
    
    .right {
        float: right;
        width: 70%;
        max-width: 900px;
        @media (max-width: 850px) {
            float: none;
            width: 100%;
            min-width: 300px;
            margin-left: 2%;
        }
    }
    
    .resume-title {
        margin: 6rem 0;
         @media (max-width: 850px) {
             display: none;
         }
        h1 {
            font-weight: 400;
            margin-bottom: 5px;
            font-size: 3rem;
        }
        h2 {
            font-weight: 400;
            margin-top: 0;
            text-transform: none;
            font-size: 1.4em;
            @media (max-width: 850px) {
                margin-left: 2%;
            }
        }
        .first-name {
            color: $main-color;
        }
        .last-name {
            font-weight: lighter;
            letter-spacing: -2px;
        }
    }
    
    .low-border-h2 {
        border-bottom: 1.5px solid $main-color;
        padding-bottom: 2px;
    }
    
    .reference, .experience, .education {
        font-size: 14px;
        @media (max-width: 850px) {
            width: 95%;
        }
        h2 {
        border-bottom: 2px solid $main-color;
        padding-bottom: 13px;
        font-weight: 600;
        margin-bottom: 30px;
        @media (max-width: 850px) {
            text-align: center;
            font-size: 1.7rem;
        }
            span {
                margin-right: 27px;
                color: $main-color;
            }
        }
    }
    
    .row {
        width: 100%;
        overflow: hidden;
        clear: both;
    }
    .bullet-container {
            float: left;
            height: 25px;
            margin-right: 10px;
    }
    .bullet1 {
        width: .45rem;
        height: .45rem;
        border-radius: 50%;
        @include bullet-background;
    }
    
    .bullet {
        float: left;
        width: .53rem;
        height: .53rem;
        border-radius: 50%;
        @include bullet-background;
        margin-top: 3px;
        margin-right: 10px;
        margin-bottom: 20px;
        &--border {
        border: 2px solid $main-color;
        padding: 2px;
        border-radius: 50%;
        /*margin-right: 13px;
        margin-bottom: 20px;*/
        }
    }
    
    .date {
        width: 22.5%;
        float: left;
        margin-right: 4%;
        min-width: 175px;
        @media (max-width: 850px) {
            margin: 1% auto 10px auto;
            border: 1px solid $main-color;
            padding: 7px;
            background-color: #9c9c9c;
        }
        @media (max-width: 650px) {
            width: 100%;
            padding-left: 35%;
        }
        p {
            margin: 0;
            padding: 0;
            display: inline;
        }
    }
    
    .detail {
        width: 65%;
        float: right;
        margin-bottom: 25px;
        @media (max-width: 850px) {
            width: 60%;
            padding: 20px;
        }
        @media (max-width: 650px) {
            width: 90%;
        }
        h3 {
        @include detail-headings;
        @media (max-width: 850px) {
            font-size: 1.2rem;
        }
        }
        h4 {
        @include detail-headings;
        @media (max-width: 850px) {
            font-size: 1rem;
        }
        }
        p {
            text-align: justify;
            @media (max-width: 850px) {
                width: 100%;
                margin: 0 auto;
            }
        }
    }
    
    .ref1 {
        float:left;
        width: 50%;
        @media (max-width: 850px) {
               float: none;
               padding: 10px;
               margin: 0 auto 15px auto;
                width: 90%;
                border: 1px solid black;
                box-shadow: 2px 2px 2px grey, -2px -2px 2px grey;
        }
        h3 {
            @extend %reference-style;
        }
        p {
            @extend %reference-style;
        }
    }
    
    .ref2 {
        float: right;
        width: 50%;
        @media (max-width: 850px) {
            float: none;
            padding: 10px;
            margin: 0 auto 15px auto;
            width: 90%;
            border: 1px solid black;
            box-shadow: 2px 2px 2px grey, -2px -2px 2px grey;
     }
        h3 {
            @extend %reference-style;
        }
        p {
            @extend %reference-style;
        }
    }
    }