@mixin bullet-background {
    background-color: $main-color;
}

@mixin detail-headings {
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 7px;
    @media (max-width: 850px) {
        font-weight: 700;
    }
}
